body{
    margin: 0;
    font-family: monospace;
}

.content{
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 20px;
    padding: 5px 0px;
}

table{
    width: 100%;
    padding: 10px 4px;
}

th, td{
    border: 0px solid black;
    padding: 8px;
    text-align: left;
    background-color: rgb(237, 236, 236);
}

form{
    padding: 10px 4px;
    align-items: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

form #content{
    font-family: monospace;
    padding: 3px 5px;
    border: 2px solid black;
}